{% extends 'base.html' %}

{% block title %}Reset Password Sent{% endblock title %}

{% block content %}
    <div id="sign_in_container">

        <div id="sign_in_form" style="width: 25rem;">
            <h3 style="text-align:center;">Password reset sent</h3>

            <br>
            <p style="font-style: italic; font-size: smaller; text-align:center;">
                We’ve emailed you instructions for setting your password,
                if an account exists with the email you entered.
                You should receive them shortly.
                <br>
                <br>
                If you don’t receive an email,
                please make sure you’ve entered the address you registered with,
                and check your spam folder.
            </p>
            <div style="margin-top: 2rem;">
                <a href="{% url 'users:login' %}">
                    <button class="log_in_btns btn btn-primary">Back to  Login</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script_files %}
    <script>
        document.getElementById('body_bg').style.display = "none";
        document.getElementById('body_bg_2').style.display = "none";
    </script>
{% endblock script_files %}