{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

    <div id="sign_in_container">

        <form id="sign_in_form" action="" method="POST">
            {% csrf_token %}
            <h3>Password reset</h3>
            <p style="font-style: italic;">Forgotten your password?</p>
            <p>Enter your email address below, <br>and we’ll email instructions for setting a new one.</p>
            <div class="form-group">
                <label for="log-in_email">Email address</label>
                <input name="email" type="email" class="form-control" id="log-in_email" aria-describedby="emailHelp" placeholder="Enter your email" autocomplete="email">
            </div>
            <div style="margin-top: 2rem;">
                <button type="submit" class="log_in_btns btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>

{% endblock content %}

{% block script_files %}
    <script>
        document.getElementById('body_bg').style.display = "none";
        document.getElementById('body_bg_2').style.display = "none";
    </script>
{% endblock script_files %}