{% extends 'base.html' %}
{% load i18n %}
{% block title %}Reset Password{% endblock title %}

{% block content %}

    <div id="sign_in_container">

        <form id="sign_in_form" style="width: 25rem;" action="" method="POST">
            {% csrf_token %}
            <h3 style="text-align:center;">{% trans "Password reset"%}</h3>
            <p style="font-style: italic; font-size: smaller; text-align:center;">{% trans "Enter your email address below, and we will email instructions for setting a new one."%}</p>
            <div class="form-group">
                <label for="log-in_email">{% trans "Email Address"%}</label>
                <input name="email" type="email" class="form-control" id="log-in_email" aria-describedby="emailHelp" placeholder="Enter your email" autocomplete="email">
            </div>
            <div style="margin-top: 2rem;">
                <button type="submit" class="log_in_btns btn btn-primary">{% trans "Reset Password"%}</button>
            </div>
        </form>
    </div>

{% endblock content %}

{% block script_files %}
    <script>
        document.getElementById('body_bg').style.display = "none";
        document.getElementById('body_bg_2').style.display = "none";
    </script>
{% endblock script_files %}