{% extends 'base.html' %}

{% block title %}Sign In{% endblock title %}

{% block content %}

<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login">
    <p>
        <a href="{% url 'users:reset_password' %}">Forget Password?</a>
    </p>
    <p>
        Don't have an account
        <a href="{% url 'users:register' %}">Sign Up</a>
    </p>
</form>

{% endblock content %}