{% extends 'base.html' %}

{% block title %}Sign In{% endblock title %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login">
    <p>
        <a href="{% url 'users:reset_password' %}">Forget Password?</a>
    </p>
    <p>
        Don't have an account
        {% if page == 'customer' %}
        <a href="{% url 'users:register-customer' %}">Sign Up</a>
        {% elif page == 'driver' %}
        <a href="{% url 'users:register-driver' %}">Sign Up</a>
        {% endif %}
    </p>
</form>

{% endblock content %}