### macOS ###
# General
.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static/images/profiles/customer*
static/images/profiles/driver*

# Dependency directories
node_modules/
db.sqlite3

.sass-cache/
.env

### pipenv dependency
Pipfile.*
Pipfile


# app migrations except inti files
package_request/migrations/*
users/migrations/*
stations/migrations/*
!package_request/migrations/__init__.py
!users/migrations/__init__.py
!stations/migrations/__init__.py