*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-size: 62.5%;
    box-sizing: border-box;
}

body {
    // background-image: url( ../../images/base/faded_defined_4.png );
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: transparent;
    font-family: $font-base;
    font-size: $font-size-base;
    font-weight: $font-regular;
    line-height: 1.6;
}

#body_bg{
    position: absolute;
    z-index: -990;
    top: 3em;
    left: 0;
    width: 100%;
    height: 100%;
}

#body_bg_2{
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media screen and ( max-width: 600px) {
    #body_bg{
        display: none;
    }

    #body_bg_2{
        display: block;
        position: absolute;
        z-index: -990;
        top: 3em;
        left: 0;
        width: 100%;
    }
}