// FONT
$font-base: 'Space Grotesk', sans-serif;
$font-size-base: 1.6rem;

// FONT WEIGHT
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// SIZING AND SPACING
$sidebar-width: 26rem;

// COLORS
$color-main: #5aa5b9;
$color-main-light: #e6faff;

$color-success: #359e64;
$color-success-light: #def8e8;
$color-error: #fc4b0b;
$color-error-light: #fff2ee;

$color-border: #f3f3f3;