#admin_base_body, 
#admin_base_body *{
    color: #fff;
    margin: 0;
}
#admin_base_body{
    min-height: 100vh;
    background-color: #131314;
}

#admin_navbar{
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
}

#sidebar_blocker{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ' ';
    background-color: #ffffff11;;
    display: none;
}

#admin_sidebar,
#admin_sidebar *{
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    // background-color: transparent;
}

#admin_sidebar{    
    border-radius: 0 2rem 0 0;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#sidebar_header{
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.admin_logo{
    height: 2rem;
}

#admin_sidebar ul{
    position: relative;
    z-index: 99;
    border-radius: 0 2rem 0 0;
    // background-color: #000;
    border: 1px solid #8b8b8b60;
    height: 100vh;
    width: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem 0.5rem;
}


#close_admin_sidebar_btn,
#admin_nav_menu_btn{
    background-color: transparent;
    border: 1px solid #ffffff7c;
}
#close_admin_sidebar_btn{
    display: block;
    margin-right: 0;
    margin-left: auto;
    border-radius: 10rem;
    padding: 0.1rem 0.25rem 0.2rem 0.25rem;
}
#admin_nav_menu_btn{
    padding: 0 0.5rem;
}

#admin_sidebar ul li{
    display: block;
    border-bottom: 1px solid #3d3d3d77;
}

#sidebar_footer a,
#admin_sidebar ul li a{
    border-radius: 5px;
    display: block;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
}

#sidebar_footer a:hover,
#admin_sidebar ul li a:hover{
    background-color: grey;
}

#admin_sidebar ul li a span{
    padding-left: 0.5rem;
}

#admin_sidebar ul li a svg{
    height: 0.8rem;
}

#sidebar_footer{
    display: block;
    width: 90%;
    border-top: 1px solid #3d3d3d77;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
}

#sidebar_footer a{
    padding: 0.5rem 0.5rem;
    display: block;
}
#sidebar_footer a span{
    padding-left: 0.5rem;
}