#dashboard_content{
    min-height: 100vh;
    background-color: transparent;
}


#dashboard_content .row .col-sm{
    border-radius: 5px;
    background-color: #272a2e9c;
    border: 1px solid #ffffff2f;
    margin: 0.5rem 0.25rem;
    box-shadow: 0 4px 8px -4px rgba(255, 255, 255, 0.267);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#dashboard_content * .dash_board_links{
    padding: 0.1rem  0.5rem 0.3rem  0.4rem;
    background-color: transparent;
    border: 1px solid #ffffff7c;
}
