#dashboard_content *{
    color: #fff !important;
}

#dashboard_content{
    color: #fff !important;
    min-height: 100vh;
    background-color: transparent;
}

#dashboard_content * .dash_board_links{
    padding: 0.1rem  0.5rem 0.3rem  0.4rem;
    background-color: transparent;
    border: 1px solid #ffffff7c;
}


#visits_card{
    background-image: url('../../images/admin-sites/dashboard/pexels-klub-boks-9940152.jpg');
    background-size: cover;
}