.alert-wrapper {
    position: fixed;
    top: 6.8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
}

.alert {
    display: flex;
    gap: 3rem;
    width: fit-content;
    padding: 1.5rem 2.5rem;
    border-radius: 3px;
    border: 1px solid $color-border;
}

.alert__message {
    font-size: 1.4rem;
    font-weight: $font-medium;
}

.alert--info,
.alert--info>.alert__message {
    color: $color-main;
    background-color: $color-main-light;
}

.alert--success,
.alert--success>.alert__message {
    color: $color-success;
    background-color: $color-success-light;
}

.alert--error,
.alert--error>.alert__message {
    color: $color-error;
    background-color: $color-error-light;
}

.alert__close {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: transparent;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    color: currentColor;
}

.alert__close:hover {
    opacity: 0.85;
}