{% extends 'base.html' %}

{% load static %}

{% block title %}Single Parcel{% endblock title %}

{% block content %}

<h1>Parcel Details</h1>

<p>Parcel Name: {{ parcel.name }}</p>
<p>Parcel Description: {{ parcel.description }}</p>
<p>Parcel Weight: {{ parcel.get_weight_display }}</p>
<p>Parcel Status: {{ parcel.status }}</p>
<br>
<p>Parcel Name: {{ parcel.sender_name }}</p>
<p>Parcel Phone: {{ parcel.sender_phone }}</p>
<p>Parcel Address: {{ parcel.sender_address }}</p>
<br>
<p>Recipient Name: {{ parcel.recipient_name }}</p>
<p>Recipient Phone: {{ parcel.recipient_phone }}</p>
<p>Recipient Address: {{ parcel.recipient_address }}</p>

{% endblock content %}