*{
    margin: 0;
    padding: 0;
}

#main_nav{
    z-index: 998;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#main_nav #sidebar {
    background-color: #ffffff83;
    height: 95%;
    width: fit-content;
    position: fixed;
    top: 4em;
    left: 0;
    padding: 1em;
}

#main_nav #sidebar ul{
    padding: 0;
}

#main_nav #sidebar ul li .btn {
    background-color: #ff6000;
}

#main_nav nav{
    padding: 0.2em 5em;
    background-color: #454545;
    text-transform: uppercase;
    text-shadow: #fff;
    font-weight: 600;
}

#nav_logo{
    font-family: 'RoundslabSerif', sans-serif;
    color: #fff;                                     
}sidebar
#primary_logo, #secondary_logo{
    margin-right: 0.5em;
}

#secondary_logo{
    display: none;
}


#main_nav nav #sign_out_link,
#main_nav nav #sidebar ul li #sidebar_log_out,
#main_nav nav #sidebar ul li .sidebar_btns,
#main_nav nav #menu,
#main_nav nav #close_menu{
    font-size: medium;
    color: #fff;
    margin-right: 0;
    margin-left: auto;
}

.material-symbols-outlined,
#main_nav nav #sidebar ul li a span{
    position: relative;
    top: 0.2em;
    line-height: 0;
}

#main_nav nav #sidebar ul li a{
    text-align: left;
    width: 100%;
}

#main_nav nav #sidebar ul li{
    margin-bottom: 0.5em;
}

#main_nav nav #sign_out_link,
#main_nav nav #sidebar ul li #sidebar_log_out,
#main_nav nav #sidebar ul li .sidebar_btns{
    background-color: #ff6000;
}

#main_nav nav #menu,
#main_nav nav #close_menu{
    display: none;
    padding: 0.2em 0.75em;
    text-align: center;
    vertical-align: center;
}

#main_nav nav button span{
    position: relative;
    top: 0.25em;
    line-height: 0;
}
.button_orange{
    background-color: #ff6000;
    color: #fff;
}


#main_nav nav #nav_logo img{
    height: 2em;
}

#main_nav nav #sidebar ul li #sidebar_log_out{
    display: none;
}


@media screen and (max-width: 600px) {
    #company_name, 
    #primary_logo,
    #main_nav nav #sidebar{
        display: none;
    }

    #main_nav nav #sidebar ul li{

    }

    #secondary_logo,
    #main_nav nav #menu,
    #main_nav nav #sidebar ul li .sidebar_btns,
    #main_nav nav #sidebar ul li #sidebar_log_out{
        display: block;
    }

    #main_nav nav{
        padding: 0.2em 2em;
    }

    #main_nav nav #sidebar{
        background-color: #fff;
        width: 100%;
        top: 3.5em;
    }

    #main_nav nav #sign_out_link{
        display: none;        
    }
}