*{
    margin: 0;
    padding: 0;
}


#main_nav{
    z-index: 998;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#main_nav nav{
    padding: 0.2em 5em;
    background-color: #454545;
    text-transform: capitalize;
    text-shadow: #fff;
    font-weight: 600;

    .language__selector{
        //height: 20px;
        //font-size: 1em;
        //padding-left: 0.5em;
        //padding-right: 0.5em;
        color: black;
        border: none;
        // width: 100%;
    }
    .language__selector option{
        color: black;
        background-color: white;
    }
    .language__box{
        margin-left: auto;
        padding-right: 0.8em;
    }
    .notification__box{
        margin-left: 0;
        padding-right: 0.4em;
        padding-left: 0.2em;
    }
    .profile__box{
        margin-left: 0;
        padding-left: 0.4em;
        padding-right: 0.3em;

    }

    .profile__box .user__picture{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .profile_box_dropdown_cont{
        position: absolute;
        top: 100%;
        right: 5%;
        width: 280px;
        max-height: 0px;
        overflow: hidden;
        border-radius: 5%;
    }
    .profile_box_dropdown_cont.trigger_menu{
        max-height: 400px;
    }
    .profile_box_dropdown{
        background-color: #ffffff;
        padding: 1.5em;
        margin: 0em;
    }
    .user-data{
        display: flex;
        align-items: center;
        justify-content: center;

        h3{
            font-weight: 400;
        }
    }

    .profile_box_dropdown_link{
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        margin: 0.5em;
        font-weight: 500;

        span{
            padding-left: 1em;
            width: 100%;
            //transition: transform 0.4s;
        }
        span:hover{
            //transform: translateX(5px);
            font-weight: 600;
        }
    }

    #notifications_list{
        position: absolute;
        right:0px;
        overflow-x:hidden;
        width: 350px;
    }

}


#nav_logo{
    font-family: 'RoundslabSerif', sans-serif;
    color: #fff;                                     
}

#primary_logo, #secondary_logo{
    margin-right: 0.5em;
}

#secondary_logo{
    display: none;
}

#sign_out_link span {
    position: relative;
    top: 0.12em;
}
#sign_out_link svg{
    width: 1.25rem;
    height: 1.25rem;
}

#sidebar {
    background-color: #ffffff83;
    box-shadow: 10px 10px 20px rgba(157, 157, 157, 0.62);
    height: 95%;
    width: fit-content;
    position: fixed;
    top: 57px;
    left: 0;
    padding: 1em;
}


#sidebar:hover * .sidebar_list_text{
    display: inline;
    transition: visibility 0s, opacity 0.5s linear;
}


#buton_container{
    // background-color: #ff84004e;
    margin-bottom: 1rem;
    width: fit-content;
    height: fit-content;
    margin-right: -25px;
    margin-left: auto;
    display: flex;
    align-self: end;
    border-radius: 100%;
    padding: 3px;
    background-color: #e2e2e2b5;
    border: 0.5px solid #fff;
}

#buton_container *{
    color: #000000;
}

#expand_sidebar{
    height: 1rem;
    width: 1rem;
    display: block;
}
#colapse_sidebar{
    overflow: visible;
    display: none;
}
#sidebar ul{
    color: #000;
    padding: 0;
    width: fit-content;
    // transition: opacity 5s ease-out;
    // display: block;
    // opacity: 0;
}

#sign_out_link,
#sidebar ul li a{
    font-size: 1rem;
    font-weight: 500;
}


#sidebar ul li .sidebar_btns {
    color: #000;
    background-color: transparent;
    border: none;
}

.sidebar_list_text{
    margin-left: 0.5rem;
    display: none;
}

#main_nav nav #sign_out_link,
#main_nav nav #sidebar ul li #sidebar_log_out,
#main_nav nav #menu,
#main_nav nav #close_menu{
    margin-right: 0;
    margin-left: 0;
}

#main_nav nav #sign_out_link
{
    background-color: #ff6000;
}

.material-symbols-outlined,
#sidebar ul li a span{
    position: relative;
    top: 0.12em;
    line-height: 0;
}

#sidebar ul li a{
    text-align: left;
    width: 100%;
}

#sidebar ul li .active_tab{
    background-color: #454545;
    color: #fff;
}
#sidebar ul li a:hover{
    background-color: #454545;
    color: #fff;
}

#sidebar ul li{
    margin-bottom: 1.25rem;
    // box-shadow: 0px 0px 5px  rgba(0,0,0,.3);
    border-radius: 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.057);
}



#main_nav nav #menu,
#main_nav nav #close_menu{
    display: none;
    padding: 0.2em 0.75em;
    text-align: center;
    vertical-align: center;
}

#main_nav nav button span{
    position: relative;
    top: 0.25em;
    line-height: 0;
}
.button_orange{
    background-color: #ff6000;
    color: #fff;
}


#main_nav nav #nav_logo img{
    height: 2em;
}


#notification_count{
    position: absolute; 
    top: 0; left: 10px; 
    font-size: 13px; 
    background-color: red; 
    border-radius: 5px; 
    color: aliceblue; 
    line-height: initial; 
    padding: 0 3px;
}

.top_border{
    border-top: 1px #2b2b2b17 solid !important;
}

.padding_0{
    padding: 0 !important;
}

.position_rel{
    position: relative;
}

.position_abs{
    position: absolute;
}

.trans_form_late_0_30{
    transform: translate(0, 30%);
}

.b_radius_2rem{
    border-radius: 2rem;
}

.w_h_2rem{
    width: 2rem;
    height: 2rem;
}

.w_Max_cont{
    width:max-content;
}

.read_True{
    background-color: #4545457a;
}

.read_False{
    background-color: #454545e1;
}

.text_read_False{
    font-weight: 500;
}

.time_read_False{
    color: #0d6efd;
}

.notify_icon{
    position: absolute;
    transform: translate(50%, 20%); 
    color: #fff;
}

.d_none{
    display: none !important;
}

.picking_picking{
    display: block !important;
}

.delivering_delivering{
    display: block !important;
}

.general_general{
    display: block !important;
}

.p_bottom{
    padding-bottom: 0;
}

.notification_messg span{
    font-size: 0.9rem;
}

.notification_created span{
    font-size: 0.65rem;
}


@media screen and (min-width: 600px) {
    #log_out_container{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #company_name, 
    #primary_logo,
    #main_nav nav #sidebar{
        display: none;
    }

    #buton_container{
        display: none;
    }
    .sidebar_list_text{
        display: inline;
    }

    #sidebar ul{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #secondary_logo,
    #main_nav nav #menu,
    #sidebar ul li .sidebar_btns,
    #sidebar_log_out{
        display: block;
    }

    #main_nav nav{
        padding: 0.2em 2em;
    }

    #mobile__menu{
        //padding-right: 0.5em;
        .menu__btn{
            color: aliceblue;
        }
    }

    #notifications_list{
        transform: translateX(-60%);
        left: 50%;
    }

    #sidebar{
        background-color: #fff;
        width: 100%;
        top: 3.5rem;
        padding: 2rem;
        overflow-y: scroll;
    }

    #sign_out_link{
        display: none;        
    }
}

@media screen and (max-width: 600px) {
    .notification_dropdown{
        position: static !important;
    }
    #notifications_list{
        width: 80vw !important;
        margin: 0 10vw !important;
    }

}