{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% comment %} Main Account Editing Page for Driver and Customer {% endcomment %}

{% block title %}Edit Account{% endblock %}

{% block content %}
<style>
    @media only screen and (min-width: 1000px) {
        .format {
            padding-left: 5em;
            padding-right: 0em;
        }
        .custom-input {
            width: 200px; 
            height: 35px;
        }
    }
    @media only screen and (max-width: 1000px) {
        .format {
            padding-left: 22em;
            padding-right: 10em;
        }
    }
    @media only screen and (max-width: 900px) {
        .format {
            padding-left: 20em;
            padding-right: 10em;
        }
    }
    @media only screen and (max-width: 800px) {
        .format {
            padding-left: 20em;
            padding-right: 20em;
        }
    }
    @media only screen and (max-width: 700px) {
        .format {
            font-size: 16px;
            padding-left: 15em;
            padding-right: 15em;
        }
    }
    @media only screen and (max-width: 600px) {
        .format {
            font-size: 16px;
            padding-left: 0em;
            padding-right: 0em;
        }
    }
    @media only screen and (max-width: 500px) {
        .custom-input {
            width: 200px; 
            height: 30px;
            padding: 1em;
        }
    }
    @media only screen and (max-width: 400px) {
        .format {
            font-size: 14px;
            padding-left: 1.5em;
            padding-right: 1em;
        }
        .custom-input {
            width: 200px; 
            height: 30px;
        }
    }

</style>
<section class="format">
    <div class="container">
        <div class=" cont d-flex justify-content-center align-items-center" style="padding-left: 10em; padding-right: 10em;">
            <div class="" >
            <div class="card text-black" style=" font-family: Space Grotesk, sans-serif;">
                <div class="card-body " style= "padding: 10em 5em 5 10em;">
                <div class="row" style="padding: 1em;">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" >
                        <p class="text-center h1 fw-bold mb-5 mx-md-4 mt-4" style="text-align: center; width: 300px;">{% trans "Editing Account:"%}</p>
    
                        <form class="input mx-md-4" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for field in form %}
                            <div class=" d-flex flex-row align-items-center mb-4">
                                <div class="acct-div form-outline flex-fill mb-0" >
                                    <label for="{{ field.id_for_label }}" class="text-right">{{ field.label }} </label><br>
                                    {{ field }}
                                    <br>
                                    {% for error in field.errors %}
                                    <small style="color: red;">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            <input 
                                class="btn btn-primary btn-block fa-lg"
                                type="submit"
                                style="border-color: orange; background-color: #ff6000;"
                                value="{% trans 'Save' %}">
                        </form> 
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 ">
                        <img src="{{ profile_img_url }}" alt="user profile image" class="img-fluid" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block script_files %}
    <script>
      window.onload = function() {
        document.getElementById('sidebar_settings_btn').classList.add("active_tab");
    };
    </script>
{% endblock script_files %}