{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% comment %} Main Account Editing Page for Driver and Customer {% endcomment %}

{% block title %}Edit Account{% endblock %}

{% block content %}

<section class="format">
    <div class="container">
        <div class=" cont d-flex justify-content-center align-items-center" style="padding-left: 10em; padding-right: 10em;">
            <div class="edit_account_list" >
            <div class="card text-black" style=" font-family: Space Grotesk, sans-serif;">
                <div class="card-body job-body">
                <div class="row">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" >
                        <h2 class="text-center h2-title fw-bold mb-4 mx-md-4 mt-4" style="text-align: center; width: 100%;">{% trans "Editing Account:"%}</h2>
    
                        <form class="input mx-md-4" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class=" d-flex flex-row align-items-center mb-4">
                                <div class="acct-div form-outline flex-fill" >
                                    <label for="{{ field.id_for_label }}" class="text-right">{{ field.label }} </label><br>
                                    {{ field }}
                                    {% comment %} {{form.media}} {% endcomment %}
                                    <br>
                                    {% for error in field.errors %}
                                    <small style="color: red;">{{ error }}</small>
                                    {% endfor %}
                                    {{form.media}}
                                </div>
                            </div>
                            {% endfor %}
                            <input 
                                class="btn btn-primary btn-block fa-lg"
                                type="submit"
                                style="border-color: orange; background-color: #ff6000;"
                                value="{% trans 'Save' %}">
                        </form> 
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 ">
                        <img src="{{ profile_img_url }}" alt="user profile image" class="img-fluid" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block script_files %}
    <script>
      window.onload = function() {
        document.getElementById('sidebar_settings_btn').classList.add("active_tab");
    };
    </script>
{% endblock script_files %}