{% extends 'base.html' %}

{% block title %}

{% if page == 'register' %}
Sign In
{% else %}
Sign Up
{% endif %}

{% endblock title %}

{% block content %}

{% if page == 'register' %}

<h1>Register User</h1>
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    {% for field in form %}

    <div class="">
        <label for="">{{ field.label }}</label>
        {{ field }}

        {% for error in field.errors %}
        <small style="color: red;">{{ error }}</small>
        {% endfor %}
    </div>

    {% endfor %}

    <input type="submit" value="Register User">
</form>
<p>
    Already have an account?
    <a href="{% url 'login' %}">Sign In</a>
</p>

{% else %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login">
    <p>
        Don't have an account
        <a href="{% url 'register' %}">Sign Up</a>
    </p>
</form>

{% endif %}

{% endblock content %}