@media screen and (min-width: 1000px) {
    .acc-sect {
        font-size: 18px;
        margin-bottom: 0;
    }
    .acc-div {
        padding-left: 1em; 
        padding-right: 0em;
    }
}
@media screen and (max-width: 1000px) {
    .acc-sect {
        font-size: 18px;
        margin-bottom: 0;
    }
    .acc-div {
        padding-left: 13em; 
        padding-right: 5em;
    }
}
@media screen and (max-width: 900px) {
    .acc-div {
        padding-left: 13em; 
        padding-right: 5em;
    }
    .acc-sect {
        font-size: 16px;
        margin-bottom: 10em;
    }
}
@media screen and (max-width: 700px) {
    .acc-div {
        padding-left: 10em; 
        padding-right: 10em;
    }
    .acc-sect {
        margin-bottom: 10em;
    }
}
@media screen and (max-width: 600px) {
    .acc-div {
        padding-left: 0em; 
        padding-right: 0em;
    }
    .acc-sect {
        margin-bottom: 5em;
    }
}