// #id_address_1,
// #id_address_2{
//   display: none;
// }

.format .edit_account_list form {
  #id_address_1,
  #id_address_2{
  display: none;
  }
  #map_location{
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .format {
      padding-left: 5em;
      padding-right: 0em;
  }
  .custom-input {
      width: 200px; 
      height: 35px;
  }
}
@media only screen and (max-width: 1000px) {
  .format {
      padding-left: 22em;
      padding-right: 10em;
  }
}
@media only screen and (max-width: 900px) {
  .format {
      padding-left: 20em;
      padding-right: 10em;
  }
}
@media only screen and (max-width: 800px) {
  .format {
      padding-left: 20em;
      padding-right: 20em;
  }
}
@media only screen and (max-width: 700px) {
  .format {
      font-size: 16px;
      padding-left: 15em;
      padding-right: 15em;
  }
}
@media only screen and (max-width: 600px) {
  .format {
      font-size: 16px;
      padding-left: 0em;
      padding-right: 0em;
  }
}
@media only screen and (max-width: 500px) {
  .custom-input {
      width: 250px; 
      height: 30px;
      padding: 1em;
  }
}
@media only screen and (max-width: 400px) {
  .format {
      //font-size: 14px;
      padding-left: 1em;
      padding-right: 1em;
  }
  .custom-input {
      width: 200px; 
      //width: 100%;
      height: 30px;
  }
}