
{% extends 'base.html' %}
{% block title %}Notifications{% endblock title %}
{% load i18n %}
{% load static %}
{% block content %}

<div id="pack-list-body" style="padding-top: 3em;">
    <ul class="ul-job-list job-body border">
        <h2 class="card-title" style="border-bottom: 1px solid #dee2e6; padding-bottom: 10px;">{% trans "Notifications" %}</h2><br>
            <div class="table-responsive">
                <table class="table table-hover pack-list-table">
                    <thead>
                        <tr style="background-color: #FFA758;">
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">{% trans "Notification Heading:" %}</th>
                            <th scope="col">{% trans "Time:" %}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if all_notifications %}
                        {% for notification in all_notifications %}
                        <tr>
                            <td scope="row" onclick="window.location=`{% url 'notifications_app:view_notification' notification.id %}`" >{{ forloop.counter }}</td>
                            <td scope="row" onclick="window.location=`{% url 'notifications_app:view_notification' notification.id %}`">
                                <span>
                                    {% if notification.read %}
                                        <i class="bi bi-eye-fill"></i>
                                    {% else %}
                                        <i class="bi bi-eye-slash-fill"></i>
                                    {% endif %}
                                </span>
                            </td>
                            <td scope="row" onclick="window.location=`{% url 'notifications_app:view_notification' notification.id %}`">{{ notification.message }}</td>
                            <td scope="row" onclick="window.location=`{% url 'notifications_app:view_notification' notification.id %}`">{{ notification.created }}</td>
                            <td>
                                <button onclick="window.location=`{% url 'notifications_app:unread_notification' id=notification.id %}`" style="z-index: 100; position:relative; --bs-text-opacity: .5;" type="button" class="ps_view_button btn btn-secondary">{% trans "Unread" %}</button>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <tr>
                            <td colspan="5" style="background-color: antiquewhite;">
                                <div style="padding: 2em; background-color: antiquewhite;" class="no-pack-div">
                                    <img src="{% static 'images/package_listing/empty_package.png' %}"
                                        alt="Empty Package Image">
                                    <p>{% trans "There are no new notifications" %}</p>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                {% if driver_packages %}
                {% endif %}
            </div>
        </ul>
    </div>

{% endblock content %} 

{% block script_files %}

<script>
    window.onload = function() {
        document.getElementById('sidebar_notifications_btn').classList.add("active_tab");
    };
    

    </script>
{% endblock script_files %}