<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swift Courier | {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/logo/swift-1000.png' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/roundslabserif" rel="stylesheet">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}{% endblock head %}
  </head>

  <body id="base_body" style="background-color: #ffffff; background-image: linear-gradient(43deg, #ffffff 0%, #ddbedb59 46%, #ff600024 100%);">
    <!-- <img id="body_bg" src="{% static '/images/base/faded_defined_4.png' %}" alt="">
    <img id="body_bg_2" src="{% static '/images/base/faded_defined.png' %}" alt=""> -->
    {# Display django.contrib.messages as Bootstrap alerts #}
    <div style="position: absolute; z-index: 9999; transform: translate(-50%, -50%); top: 6rem; left: 50%;">
      {% bootstrap_messages %}
    </div>

    {% include 'navbar.html' %}
    {% comment %} {% if messages %}
    <div class="alert-wrapper">
      {% for message in messages %}
      <div class="alert alert--{{ message.tags }}">
        <span class="alert__message">{{ message }}</span>
        <button class="alert__close">&times;</button>
      </div>
      {% endfor %}
    </div>

    {% endif %}
    {% endcomment %}

      <main id="main_content" style="margin-top: 56px">
        <div class="min-vh-100">
          {% block content %}
          {% endblock content %}
        </div>
        {% include 'footer.html' %}
        
      </main>


      {% if user.is_authenticated %}
        <div id="chat_blocker" style="display:none; position:absolute; top:0; right:0; z-index: 990; height:100vh; width:100vw;background:rgba(214, 214, 214, 0.295);"></div>
        <div id="chat_super_contaienr" class="border d-none">
          {% include 'chatbot_universal.html' %}
        </div>

        <div id="ripple_container" type="button" onclick="show_chat()">
          <span>
            <div style="position: relative;">
              <img src="{% static 'images/chatbot/ai_agent.jpeg'  %}"
                    draggable="false"
                    alt="" style="pointer-events: none; user-select: none; position:absolute; top:0; left:50%; transform:translate(-50%,0); height:55px; width:55px; border-radius: 50%;">
            </div>
          </span>
        </div>
      {% endif %}

      <script>
        const chat_container = document.getElementById("chat_container")
        const chat_super_contaienr = document.getElementById("chat_super_contaienr");
        function show_chat(){
          document.getElementById("chat_blocker").style.display = "block";
          document.getElementById("base_body").style.overflowY = "hidden";
          chat_super_contaienr.classList.remove("d-none");
          chat_container.scrollTop = chat_container.scrollHeight;
        }

        function hide_chat(){
          document.getElementById("chat_blocker").style.display = "none";
          document.getElementById("base_body").style.overflowY = "auto";
          chat_super_contaienr.classList.add("d-none");
        }

        // script for the chatbot messages
        const form = document.getElementById('chat-form');
        const messageInput = document.getElementById('message-input');
        const chatContainer = document.querySelector('.chat-container');
    
        // setup chat scoket
        var id = "{{ user_id|safe }}".replace(/[^0-9a-fA-F]/g, '');
    
        // will attempt to establish connection only if user is authenticated
        if (id != ""){
          const chatSocket = new WebSocket( `wss://${window.location.host}/ws/chat/${id}/` );
          
          // socket open
          chatSocket.onopen = function (e) {
              // console.log('chat socket successfully connected.');
          };
      
          //socket close
          chatSocket.onclose = function (e) {
              // console.log('chat socket closed unexpectedly');
          };
    
          // server sending message to user
          chatSocket.onmessage = function (e) {
              const data = JSON.parse(e.data);
              const message = data.message;
              appendMessage("bot", message );
          };
      
          // user sending message to server
          function sendMessage(message) {
            chatSocket.send(JSON.stringify({ 'message': message }));
          }
        }
    
    
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          const message = messageInput.value.trim();
          if (message === '') return;
          appendMessage('user', message,);
          messageInput.value = '';
    
          // send message to Nova
          sendMessage(message)
        });
    
        function appendMessage(sender, message) {
          var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var today = new Date();
          var meridiem = (today.getHours() < 12) ? 'a.m.' : 'p.m.';
          var hr = Number(today.getHours() % 12).toString();
          var min = ( today.getMinutes() < 10) ? '0'+today.getMinutes().toString() : today.getMinutes().toString() ;

          var time_stamp = months[today.getMonth()]+' '+today.getDate()+', '+today.getFullYear()+ ', ' + hr + ':' + min + ' ' + meridiem;

          const messageElement = document.createElement('div');
          messageElement.classList.add('message', sender);
          messageElement.innerHTML = `<div class="message-body p-2"><span>${message}</span><div class="time_stamp">${time_stamp}</div></div>`;
          chatContainer.appendChild(messageElement);
    
          chatContainer.scrollTop = chatContainer.scrollHeight;
        }
    
      </script>

        <script>
          // setup chat scoket
          var id = "{{ user_id|safe }}".replace(/[^0-9a-fA-F]/g, '');

          // will attempt to establish connection only if user is authenticated
          if (id != ""){
            const notifySocket = new WebSocket( `ws://${window.location.host}/ws/notify/${id}/` );
            
            // socket open
            notifySocket.onopen = function (e) {
                // console.log('Socket successfully connected.');
            };
        
            //socket close
            notifySocket.onclose = function (e) {
                // console.log('Socket closed unexpectedly');
            };
        
            //receiving message on group
            notifySocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                const id = data.id;
                const message = data.message;
                const type = data.n_type;
                const read = data.read;
                const created = data.created;

                // setMessage
                setMessage(id, message, type, read, created);
            };
        
            // function clone template node and insert notification in notification list
            function setMessage(id, message, type, read, created) {              
                var new_notif = document.getElementById("dropdown-item-template").cloneNode(true);
                new_notif.classList.remove("d_none");
                new_notif.id = id;
                var icons_container = new_notif.querySelector('#set_read');
                icons_container.classList.add("read_".concat(read));
                icons_container.children[0].classList.add("picking_".concat(type));
                icons_container.children[1].classList.add("delivering_".concat(type));
                icons_container.children[2].classList.add("general_".concat(type));
                new_notif.querySelector('#message_span').classList.add("text_read_".concat(read));
                new_notif.querySelector('#message_span').innerHTML = message;
                new_notif.querySelector('#created_span').classList.add("text_read_".concat(read));
                new_notif.querySelector('#created_span').classList.add("time_read_False");
                new_notif.querySelector('#created_span').innerHTML = created;

                let count = parseInt(document.getElementById("notification_count").innerHTML);
                if ( !count )
                  document.getElementById("empty_notification").classList.add("d_none");

                document.getElementById("notification_count").innerHTML = count+1;

                var heading = document.getElementById("notifications_list").children[0];
                document.getElementById('notifications_list').removeChild(document.getElementById("notifications_list").children[0]);
                document.getElementById('notifications_list').prepend(new_notif);
                document.getElementById('notifications_list').prepend(heading);
            }
          }
      
          function read_all_notifications(value) {
            // Set the value of the hidden input
            document.getElementById('url').value = value;
            // Submit the form
            document.getElementById('read_all_form').submit();
          }
      </script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/nav.js' %}"></script>
      {% comment %} adding boostrap script file here breaks the dropdown menu. Instead, add the script files individually to the html file in their own script_files section {% endcomment %}
      {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> {% endcomment %}
      {% block script_files %}{% endblock script_files %}
  </body>

</html>