{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}
{% load static %}

<div id="sidebar">
    <ul>
      <li>
        <a href="{% url 'package_request_app:home'%}" 
          id="" 
          class="sidebar_btns btn btn-secondary btn-lg" 
          role="button" 
          aria-pressed="true"
          >
          <span class="material-symbols-outlined">
            home
            </span>
            Home</a>
      </li>
      <li>
        <a href="{% url 'package_request_app:package_list'%}"
          id="" 
          class="sidebar_btns btn btn-secondary btn-lg" 
          role="button" 
          aria-pressed="true"
          >
          <span class="material-symbols-outlined">
            hourglass
            </span>
          Active requests</a>
      </li>
      <li>
        <a href="{% url 'package_request_app:package_history'%}" 
          id="" 
          class="sidebar_btns btn btn-secondary btn-lg" 
          role="button" 
          aria-pressed="true"
          >
          <span class="material-symbols-outlined">
            history
            </span>
          History</a>
      </li>
      <li>
        <a href="{% url 'users:customer-account'%}"
          id="" 
          class="sidebar_btns btn btn-secondary btn-lg" 
          role="button" 
          aria-pressed="true"
          >
          <span class="material-symbols-outlined">
            settings
            </span>
          Settings</a>
      </li>
      <li>
        <a 
        id="sidebar_log_out" 
        href="{% url 'users:logout-customer'%}" 
        class="btn btn-secondary btn-lg"
        role="button" aria-pressed="true">
        <span style="position:relative; top: 0.2em; line-height: 0;" class="material-symbols-outlined">logout</span> 
        Log-out
      </a>
      </li>
    </ul>
  </div>