<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/roundslabserif" rel="stylesheet">

</head>
<body id="home_page">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a id="nav_logo" class="navbar-brand" href="#">
                <img id="primary_logo" src="{% static 'images/logo/swift-1000.png' %}" alt="logo">
                <img id="secondary_logo" src="{% static 'images/logo/swift-logo-white-1000.png' %}" alt="logo">
                <span id="company_name">swift courier</span>
            </a>
            <a href="{% url "users:register"%}" id="sign_up_link" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Sign up</a>
        </nav>
    </header>

    <section id="homepage_first_section">
        <h2 id="main_title" >Delivery Made Simple</h2>
        <div class="homepage_btns">
            <a href="{% url "users:login"%}" id="login_customer" class="btn btn-secondary btn-lg" role="button"> Log in as Customer</a>
        </div>
        <div id="extra_info">
            <p>Don't have an account? <a id="extra_info_anchor"href="{% url "users:register"%}">Create One!</a></p>
        </div>
    </section>
    <section id="homepage_second_section">
        <div class="company_description">
        <h3 id="company_description_title">
            What we do:
        </h3>
        <p>
            We connect drivers with other users that wish to deliver packages. 
            Currently, our services are only offered between and within Taipei and Hualien.
        </p>
    </div>
    </section>
    <section id="homepage_third_section">
        <div class="mission_description">
            <h3 id="mission_description_title">
                Our Mission:
            </h3>
            <p>
                We aim to make package deliveries as simple and as convenient as possible
                while ensuring that the packages arrive safely at their destination. 
            </p>

        </div>

    </section>
    <footer>
        <ul>
            <li><a href="{% url "users:view-company-info"%}">Have a concern?</a></li>
            <li><a href="{% url "users:view-company-info"%}">Contact Us</a></li>
            <li><a href="{% url "users:view-company-info"%}">Our Future Plans</a></li>
            <li><a href="{% url "users:view-company-info"%}">Terms of Use</a></li>
            <li><a href="{% url "users:view-company-info"%}">Privacy Policy</a></li>
        </ul>

    </footer>

    <script src="{% static 'js/landing_page.js' %}"></script>

</body>

</html>
