{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}
{% load static %}
{% load i18n %}

<header id="main_nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a id="nav_logo" class="navbar-brand" href="{% url 'package_request_app:home' %}">
      <img id="primary_logo" src="{% static 'images/logo/swift-1000.png' %}" alt="logo"/>
      <img id="secondary_logo" src="{% static 'images/logo/swift-logo-white-1000.png' %}" alt="logo"/>
      <span id="company_name">swift courier</span>
    </a>
    
    {% comment %} Language switch form {% endcomment %}
    <form id="languageForm" method="post" action="{% url 'set_language' %}">
      {% csrf_token %}
      <select class="form-select-sm align-middle" name="language" id="language" onchange="languageSwitch(this.value)">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                  {{ language.name_local }}
              </option>
          {% endfor %}
      </select>
    </form>

    {% if request.user.is_authenticated %}
      {% if request.user.is_customer %}
        <a href="{% url 'users:logout-customer'%}" 
          id="sign_out_link" 
          class="btn btn-secondary btn-lg" 
          role="button" 
          aria-pressed="true">
          <span> {% trans "Log out"%}</span>
        </a>
        <button id="menu" type="button" onclick="show_menu()" class="btn btn-secondary"><span class="material-symbols-outlined">menu</span></button>
        <button id="close_menu" type="button" onclick="close_menu()" class="btn btn-secondary"><span class="material-symbols-outlined">close</span></button>
        {% include "customer_sidebar.html" %}
      {% elif request.user.is_driver %}
        <a href="{% url 'users:logout-driver'%}" 
          id="sign_out_link" 
          class="btn btn-secondary btn-lg" 
          role="button" 
          aria-pressed="true">
          <span> {% trans "Log out"%}</span>
        </a>
        <button id="menu" type="button" onclick="show_menu()" class="btn btn-secondary"><span class="material-symbols-outlined">menu</span></button>
        <button id="close_menu" type="button" onclick="close_menu()" class="btn btn-secondary"><span class="material-symbols-outlined">close</span></button>
        {% include "driver_sidebar.html" %}
        {% endif %}
    {% endif %}

    <div class="notification_dropdown dropdown" style="position: relative;">
      <span style="position: relative;" class="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-bell-fill" style="color: aliceblue; font-size: 1.1rem;"></i>
          <span style="position: absolute; top: 0; left: 10px; font-size:10px; background-color: red; border-radius:20px; width:10px; height:10px;"></span>
      </span>
      <div id="notifications_list" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: absolute; right:0px; width:300px; overflow-x:hidden; background-image: linear-gradient(to right, rgb(240, 248, 255, 0.5), rgba(165,165,165, 0.5) 95%);">
        <a class="dropdown-item" href="#">Notification for package 1 status has changed</a>
        <a class="dropdown-item" href="#">Notification for package 1 status has changed</a>
        <a class="dropdown-item" href="#">Notification for package 1 status has changed</a>
      </div>
    </div>
    
  </nav>
</header>