{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!--Main Navigation-->
<header id="nav-bar-header">
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse ">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="{% url 'package_request_app:home' %}" id="home-tab"
          class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
        </a>
        {% if request.user.is_customer %}
        <a href="{% url 'package_request_app:package_list' %}" id="history-tab"
          class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>History</span>
        </a>
        {% else %}
        <a href="{% url 'package_request_app:job_current' %}" id="history-tab"
          class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>History</span>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
      <!-- Brand -->
      <a class="" href=" {% url 'package_request_app:home' %} ">
            <img src=" {% static 'images/logo/logo_white.png' %} " height="50" alt=""/>
      </a>
      <ul>
            {% if request.user.is_customer %}
                <li><button><a class="dropdown-item" href="{% url 'users:logout-customer' %}">Log out</a></button></li>
            {% else %}
                <li><button><a class="dropdown-item" href="{% url 'users:logout-driver' %}">Log out</a></button></li>
            {% endif %}
      </ul>
    </div>
  </nav>
</header>