#pack-list-body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: rgb(99.2%, 93.3%, 85.9%);

}
.pack-list-table {
    border-collapse: collapse;
    width: 100%;
}
.pack-list-table th{
    background-color:  rgb(89%, 54.5%, 16.1%);
} 
.pack-list-table td, .pack-list-table th {
    
    text-align: left;
    padding: 8px;
}
.pack-list-table tr:nth-child(even){
    background-color: rgb(98.4%, 80.4%, 60.8%);
}
.pack-list-table tr:nth-child(odd){
    background-color: rgb(98.8%, 90.6%, 82.4%);
}
  
* {box-sizing: border-box;}
.ps_del_button {
    background-color: hsl(9, 95%, 34%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.ps_view_button {
    background-color: hsl(130, 95%, 34%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
    
.ps_del_button:hover {
    opacity:1;
}

.ps_cancelbtn, .ps_deletebtn {
    float: left;
    width: 50%;
}
    
.ps_cancelbtn {
    background-color: #ccc;
    color: black;
}
  
.deletebtn {
    background-color: #f44336;
}
    
/* Add padding and center-align text to the cont */
.ps_cont {
    padding: 16px;
    text-align: center;

}
.ps_view_cont {
    padding: 16px;
    text-align: left;
}
.ps_view_cont p {
    text-align: left;
}
    
/* The Modal (background) */
.ps_modal {
    background-color: #fefefe;
    border: 1px solid #888;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 50%;
    top: 50%;
    width: auto; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
    
/* Modal Content/Box */
.ps_modal-content {
    margin: 0 auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    // border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
    
/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
     
/* The Modal Close Button (x) */
.ps_close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 35px;
    font-weight: bold;
    color: #cccccc;
}
    
.ps_close:hover,
.ps_close:focus {
    color: #f44336;
    cursor: pointer;
}
    
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    
/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .ps_cancelbtn, .ps_deletebtn {
        width: 100%;
    }
}