{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block title %}Account{% endblock title %}

{% block content %}

<h1>{% trans "User Profile:"%}</h1>

<h3>{% trans "First Name:"%} </h3> {{ account.first_name }}
<h3>{% trans "Last Name:"%} </h3> {{ account.last_name }}
<h3>{% trans "Username:"%} </h3> {{ account.username }}
<h3>{% trans "Email: "%}</h3> {{ account.email }}
<h3>{% trans "Phone: "%}</h3> {{ account.phone_number }}
<h3>{% trans "Address: "%}</h3> {{ account.address }}
{% if account.profile_image %}
<h3>{% trans "Profile Image: "%}</h3>
<img src="{{ account.profile_image.url }}">
<br>
{% endif %}

{% if customer %}
<a href="{% url 'edit-account' %}">{% trans "Edit Account"%}</a>

{% endblock content %}