{% extends 'base.html' %}
{% load static %}
{% block title %}Jobs{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap&libraries=places&v=weekly"
        async defer></script>

    <style>
        .gm-ui-hover-effect {
            display: none !important;
        }

        .job-details {
            display: none;
        }
    </style>
</head>

<body class="del-body">
    <div>
        <img src="{% static 'images/complete.gif' %}" alt="">

        <p>
            You have completed the job.
        </p>

        <a href="{% url 'package_request_app:job_list' %}">Check available jobs</a>
    </div>
</body>
{% endblock content %}