{% extends 'base.html' %}
{% block title %}Job Scanner{% endblock title %}
{% block content %}
{% load i18n %}
{% block head %}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{% endblock head %}

<div id="new_request_body">
    <div id="request_layer"  class=" job-body border">
            <div class="card-body">
                <h2 class="card-title" style="border-bottom: 1px solid #dee2e6; padding-bottom: 10px;">{% trans "QR Code Scanner" %}</h2><br>
                <div id="reader"></div>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const scanner = new Html5QrcodeScanner('reader', {
        qrbox: {
            width: 250,
            height: 400
        },
        fps: 20,
    });
    scanner.render(success, error);
    
    function success(result) {
        // Create a form to send package ID to Django view
        const form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.style.display = 'none';

        // Create an input field for package ID
        const input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'package_id');
        input.setAttribute('value', result);

        // Append input field to form
        form.appendChild(input);

        // Add CSRF token to form
        const csrfToken = getCSRFToken();
        if (csrfToken) {
            const csrfInput = document.createElement('input');
            csrfInput.setAttribute('type', 'hidden');
            csrfInput.setAttribute('name', 'csrfmiddlewaretoken');
            csrfInput.setAttribute('value', csrfToken);
            form.appendChild(csrfInput);
        }

        // Append form to document body
        document.body.appendChild(form);

        // Submit form
        form.submit();

        scanner.clear();
        document.getElementById('reader').style.display = 'none';
    }

    function error(err) {
        // console.error(err);
    }

    // Function to get CSRF token from cookies
    function getCSRFToken() {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith('csrftoken=')) {
                return cookie.substring('csrftoken='.length, cookie.length);
            }
        }
        return null;
    }
</script>

{% endblock content %}
