{% extends 'base.html' %}
{% load static %}
{% block title %}Packages{% endblock title %}
{% block content %}

<div id="pack-list-body">
    <h1 style="padding: 0.5em;">Available Tasks</h1>

    <ul class="ul-job-list card">
        <ul class="nav nav-tabs tab">
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'individual' %}active{% endif %}" aria-current="page" href="{% url 'package_request_app:job_current' %}">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'routes' %}active{% endif %}" href="">Routes</a>
            </li>
        </ul>
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-hover table-responsive pack-list-table">
                <thead>
                    <tr style="background-color: #FFA758;">
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if parcels %}
                            {% for dp in parcels %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td scope="row">{{ dp.package_id }}</td>
                                    <td scope="row">{{ dp.order_date }}</td>
                                    <td scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="select_packages" value="{{ dp.package_id }}" id="flexCheckChecked" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                              Add
                                            </label>
                                          </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        
                    {% else %}
                        <tr>
                            <td colspan="4" style="background-color: antiquewhite;">
                                <div style="padding: 2em; background-color: antiquewhite;" class="no-pack-div">
                                    <img src="{% static 'images/package_listing/empty_package.png' %}" alt="Empty Package Image">
                                    <p>No packages available!</p>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
            </table>

            {% if parcels %}
                <div><button class="btn btn-primary" type="submit">Select Packages</button></div>
            {% endif %}
        </form>
    </ul>
</div>
{% endblock content %}
