{% extends 'base.html' %}
{% load static %}
{% block title %}Packages{% endblock title %}
{% block content %}
{% load i18n %}

<div id="pack-list-body" style="padding-top: 3em;">
    <ul class="ul-job-list job-body border">
        <h2 class="card-title" style="border-bottom: 1px solid #dee2e6; padding-bottom: 10px;">{% trans "Available Tasks" %}</h2><br>
        <ul class="nav nav-tabs tab">
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'individual' %}active{% endif %}" aria-current="page" href="{% url 'package_request_app:select_packages' %}">{% trans "Packages" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'routes' %}active{% endif %}" href="{% url 'package_request_app:job_list' %}">{% trans "Routes" %}</a>
            </li>
        </ul>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover border pack-list-table">
                    <thead>
                        <tr style="background-color: #FFA758;">
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">{% trans "Item Description" %}</th>
                            <th scope="col">{% trans "Date" %}</th>
                            <th scope="col">{% trans "Size" %}</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if parcels %}
                        {% for dp in parcels %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td scope="row">{{ dp.package_id }}</td>
                            <td scope="row">{{ dp.package_description }}</td>
                            <td scope="row">{{ dp.order_date }}</td>
                            <td scope="row">{{ dp.width }} cm * {{ dp.height }} cm * {{ dp.depth }} cm</td>
                            <td scope="row">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="select_packages" value="{{ dp.package_id }}" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        {% trans "Add" %}
                                    </label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6" style="background-color: antiquewhite;">
                                <div style="padding: 2em; background-color: antiquewhite;" class="no-pack-div">
                                    <img src="{% static 'images/package_listing/empty_package.png' %}" alt="Empty Package Image">
                                    <p>{% trans "No packages available for pickup!" %}</p>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div> 
            {% if parcels %}
                <div><button class="btn btn-primary" type="submit">{% trans "Select Packages" %}</button></div>
            {% endif %}
        </form> 
    </ul>
</div>
{% endblock content %}
