{% extends 'base.html' %}
{% block title %}3/3: Make a delivery request{% endblock title %}
{% load i18n %}
{% block content %}
    <div id="new_request_body">
        <div id="request_layer">
            <h2>{% trans "Please enter the package description below:"%}</h2>
            <br/>
            <form action="{% url 'package_request_app:request_form_3_of_3' %}" method="post" >
                <div class="package_form">
                    {% csrf_token %}
                    {% if form.name.errors %}
                    {% endif %}
                    {% for field in package_form %}
                            <div class="mb-2">
                                <label for="{{field.name}}" class=""> {{field.label}} </label> <br>
                                    {{field}}
                            </div>
                    {% endfor %}
                    <button type="submit" value="submit" class="btn btn-primary">{% trans "Confirm order"%}</button>
                    <a class="btn btn-secondary" href="{% url 'package_request_app:home' %}" role="button" style="background-color: grey;">{% trans "Cancel"%}</a>
                    {{ receiver_form.media }}
                </div>
            </form>
        </div>
    </div>

{% endblock content %} 

{% block script_files %}
    <script>
      window.onload = function() {
        document.getElementById('sidebar_new_request_btn').classList.add("active_tab");
    };
    </script>
{% endblock script_files %}