
{% extends 'base.html' %}
{% block title %}2/3: Make a delivery request{% endblock title %}

{% block content %}
    <div class="request_body">
        <h1>Please enter the receiver information bellow:</h1>
        <br/>
        <form action="{% url 'package_request_app:request_form_2_of_3' %}" method="post" >
            <div class="package_form" style="position: relative; left: 20%; width: 60%;" >
                {% csrf_token %}
                {% if form.name.errors %}
                {% endif %}
                {{ receiver_form.as_p }}
                
                <button type="submit" class="save btn btn-default">Save</button>
                {{ receiver_form.media }}
            </div>
        </form>
    </div>

{% endblock content %} 