
{% extends 'base.html' %}
{% block title %}1/3: Make a delivery request{% endblock title %}
{% load i18n %}
{% block content %}

    <div id="new_request_body">
        <div id="request_layer">
            <h2>{% trans "Enter the necessary information to send a package:"%} </h2>
            <br/>
             <form action="{% url 'package_request_app:request_form_1_of_3' %}" method="post">
                <div class="package_form">
                    <P style="font-style: italic; color:rgb(85, 85, 85)"> {% trans "NOTE: Please ensure the information is true"%}</P>
                        {% csrf_token %}
                        {% if form.name.errors %}
                        {% endif %}
                        {{ sender_form.as_p }}
                        
                        <button type="submit" value="submit" class="btn btn-primary">{% trans "Next"%}</button>
                        {{ sender_form.media }}
                    </div>
        
                </form>
        </div>
    </div>

{% endblock content %} 