{% extends 'base.html' %}
{% block title %}Job Scanner{% endblock title %}
{% block content %}
{% load i18n %}
{% block head %}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{% endblock head %}

<div id="new_request_body">
    <div id="request_layer"  class=" job-body border">
            <div class="card-body">
                <h2 class="card-title h2-title">{% trans "Sucessfully Added Task" %}</h2><br>
            </div>
            <div class="card-footer">
                <a href="{% url 'package_request_app:job_scanner' %}" class="btn btn-primary">{% trans "Scan another code" %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}