{% extends "base.html" %}
{% block title %} Request Submitted {% endblock title %}

{% load i18n %}

{% block content %}
<div class="successful_order_page">
  <div class="card text-center" style="width: 22rem">
    <div class="card-body">
      <h5 class="card-title">{% trans "Successfully submited a request! "%}</h5>
      <p class="card-text">{% trans "Please hang onto your package while we send our agents to pick it up from your given address. Thank you for your patience!"%}</p>
      <a href="{% url 'package_request_app:home'%}" class="btn btn-primary">{% trans "Return to homepage"%}</a>
    </div>
  </div>
</div>

{% endblock content %}




