{% extends "base.html" %}
{% block title %} Request Submitted {% endblock title %}

{% load i18n %}

{% block content %}
<div class="container">
  <h2>{% trans "Successfuly submited a request! "%}</h2>
  <p>{% trans "Please hang onto your package while we send our agents to pick it up from your given address. Thank you for your patience!"%} </p>
  <a href="{% url 'package_request_app:home'%}"> 
    <button class="btn btn-secondary">
      {% trans "Return to homepage"%}
    </button>
  </a>
</div>
{% endblock content %}




